<!DOCTYPE html>
<html ng-app="radiowebdev">
<head>
	<meta charset="utf-8">
	<title>RadioWEBDEV: Os melhores hits estão aqui!</title>
	<link rel="stylesheet" type="text/css" href="estilo.css">
</head>
<body ng-controller="indexController">
	
	<div class="top">
		<div class="content">
			<div class="userlogado">
				<div class="title">{{userLogado.nome}}</div>
				<div class="subtitle">{{userLogado.email}}</div>
			</div>
			<img src="logo.png">
			<h1>RadioWEBDEV</h1>
			<h2>Os melhores hits estão aqui</h2>
		</div>
	</div>
	<div class="content">
		<div class="infos" ng-show="logado" ng-class="{noMargin: logado}">
			<input type="text" ng-model="musica.nome" placeholder="Musica">
			<input type="text" ng-model="musica.id_youtube" placeholder="ID_YOUTUBE">
			<input type="text" ng-model="musica.time" placeholder="Tempo">
			<button ng-click="cadastrarMusica(musica)">Salvar</button>
			<hr>
			<div class="clr"></div>
			<table id="tableMusics">
				<caption>Musicas</caption>
				<thead>
					<tr>
						<th></th>
						<th>Musica</th>
						<th>Tempo</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="musica in musicas">
						<td>
							<a href="#" ng-click="play(musica)">Play</a>
							<a href="#" ng-click="remove(musica)">Remove</a>
						</td>
						<td>{{musica.nome}}</td>
						<td>{{musica.time}}</td>
					</tr>
				</tbody>
			</table>
			<div id="player">
				
			</div>
			<div class="clr"></div>
		</div>
		<img class="phone" src="phone.png" ng-hide="logado">
		<div class="infos" ng-hide="logado">
			<h1 ng-show="mensagemSuccess">{{mensagemSuccess}}</h1>
			<div class="info" ng-show="!formEnable && !loginEnable">
				<img src="ico1.png">
				<div class="title">Fácil de usar</div>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
			<div class="info" ng-show="!formEnable && !loginEnable">
				<img src="ico2.png">
				<div class="title">Customize do seu jeito</div>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
			<div class="info" ng-show="!formEnable && !loginEnable">
				<img src="ico3.png">
				<div class="title">Na web, deskop e mobile</div>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
			<form name="f" class="formCadaster" novalidate="novalidate" ng-show="formEnable">
				<h2>Opa! Agora senti firmeza, bora se cadastrar então:</h2>
				<input type="text" name="nome" ng-model="cadastro.nome" placeholder="Entre com seu nome" required ng-class="{invalid: f.nome.$invalid, valid: f.nome.$valid}">
				<input type="email" name="email" ng-model="cadastro.email" placeholder="Entre com seu email" required ng-class="{invalid: f.email.$invalid, valid: f.email.$valid}">
				<input type="password" name="senha" ng-model="cadastro.senha" placeholder="Entre com uma senha" required ng-class="f.senha.$invalid || cadastro.senha != cadastro.senha2 ? 'invalid' : 'valid'">
				<input type="password" name="senha2" ng-model="cadastro.senha2" placeholder="Digite novamente sua senha" required required ng-class="f.senha.$invalid || cadastro.senha != cadastro.senha2 ? 'invalid' : 'valid'">
				<div class="mensagemError" ng-show="mensagemError" ng-bind-html="to_trusted(mensagemError)"></div>
				<div class="cadaster formInvalid" ng-show="f.$invalid || cadastro.senha != cadastro.senha2">
					<img src="cadastrar_off.png" ng-click="mensagemError='Preencha o formulário!'">
					<div class="title">
						Cadastrar
					</div>
				</div>
				<div class="cadaster" ng-show="f.$valid && cadastro.senha == cadastro.senha2" ng-click="cadastrar(cadastro)">
					<img src="cadastrar.png" ng-show="!loadingCadastro">
					<img src="loading.gif" ng-show="loadingCadastro">
					<div class="title" ng-show="!loadingCadastro">Cadastrar</div>
					<div class="title" ng-show="loadingCadastro">Cadastrando...</div>

				</div>
				<div class="login" ng-click="formEnable=false">
					<div class="title">
						Cancelar cadastro
					</div>
				</div>
				<div class="clr"></div>
			</form>
			<form name="l" class="formCadaster" novalidate="novalidate" ng-show="loginEnable">
				<h2>Entre com seu email e senha:</h2>
				<input type="email" name="email" ng-model="usuario.email" placeholder="Entre com seu email" required ng-class="{invalid: l.email.$invalid, valid: l.email.$valid}">
				<input type="password" name="senha" ng-model="usuario.senha" placeholder="Entre com uma senha" required ng-class="{invalid: l.senha.$invalid, valid: l.senha.$valid}">
				<div class="mensagemError" ng-show="mensagemError" ng-bind-html="to_trusted(mensagemError)"></div>
				<br><!-- isso nao se faz -->
				<div class="cadaster formInvalid" ng-show="l.$invalid">
					<img src="cadastrar_off.png" ng-click="mensagemError='Preencha o formulário!'">
					<div class="title">
						Entrar
					</div>
				</div>
				<div class="cadaster" ng-show="l.$valid" ng-click="logar(usuario)">
					<img src="cadastrar.png" ng-show="!loadingCadastro">
					<img src="loading.gif" ng-show="loadingCadastro">
					<div class="title" ng-show="!loadingCadastro">Entrar</div>
					<div class="title" ng-show="loadingCadastro">Entrando...</div>

				</div>
				<div class="login" ng-click="loginEnable=false">
					<div class="title">
						Cancelar login
					</div>
				</div>
				<div class="clr"></div>
			</form>
		</div>
		<div class="cadaster" ng-click="showCadastro()" ng-show="!formEnable">
			<img src="miniphone.png">
			<div class="title">
				Cadastre agora
			</div>
		</div>
		<div class="login" ng-click="showLogin()">
			<img src="login.png">
			<div class="title">
				Ja tem cadastro? Faça o login
			</div>
		</div>
		<div class="clr"></div>
		<div class="spacebox">
			<div class="box">
				<div class="title">
					Melhores músicas
				</div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>
			</div>
		</div>
		<div class="spacebox">
			<div class="box">
				<div class="title">
					Qualidade de transmissão
				</div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>
			</div>
		</div>
		<div class="spacebox">
			<div class="box">
				<div class="title">
					Do seu gosto
				</div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</div>
			</div>
		</div>
	</div>
	<div class="clr"></div>
	<div class="footer">
		<div class="content">
			RadioWEBDEV @ 2015
		</div>
	</div>

	<script src="angular.min.js"></script>
	<script type="text/javascript">

	var app = angular.module('radiowebdev', []);
	app.service('UsuarioService', ['$http', function ($http){
		this.cadastrar = function(cadastro, callback){
			$http({
				method:'POST',
				url:'/user/cadaster',
				data: cadastro
			}).success(function(data){
				callback(data);
			}).error(function (data){
				console.log(data);
				callback({isValid:false, msg:"Erro ao requisitar servidor!"});
			})
		}
		this.logar = function(usuario, callback){
			$http({
				method:'POST',
				url:'/login',
				data: usuario
			}).success(function(data){
				callback(data);
			}).error(function (data){
				console.log(data);
				callback({isValid:false, msg:"Erro ao requisitar servidor!"});
			})
		}
	}]);
	app.service('MusicaService', ['$http', function ($http){
		this.cadastrar = function(musica, callback){
			$http({
				method:'POST',
				url:'/music/cadaster',
				data: musica
			}).success(function(data){
				callback(data);
			}).error(function (data){
				console.log(data);
				callback({isValid:false, msg:"Erro ao requisitar servidor!"});
			})
		}
		this.remove = function(musica, callback){
			$http({
				method:'POST',
				url:'/music/delete',
				data: musica
			}).success(function(data){
				callback(data);
			}).error(function (data){
				console.log(data);
				callback({isValid:false, msg:"Erro ao requisitar servidor!"});
			})
		}
		this.lista = function(callback){
			$http({
				method:'GET',
				url:'/music/list'
			}).success(function(data){
				callback(data);
			}).error(function (data){
				console.log(data);
				callback({isValid:false, msg:"Erro ao requisitar servidor!"});
			})
		}
	}]);
	
	app.controller('indexController', ['$scope','$sce', 'UsuarioService','MusicaService', function($scope, $sce, UsuarioService, MusicaService){
		$scope.logado=false;
		$scope.userLogado = null;
		$scope.formEnable=false;
		$scope.loginEnable=false;
		$scope.loadingCadastro=false;
		$scope.mensagemError = "";
		$scope.musica = {};
		$scope.showCadastro = function(){
			$scope.formEnable=true;
		}
		$scope.play = function(musica){
			var parent = document.getElementById("player");
			var child = document.getElementById("playYoutubeIframe");
			if(child){
				parent.removeChild(child);
			}
			var link = "https://www.youtube.com/embed/"+musica.id_youtube+"?controls=0&amp;showinfo=0&amp;autoplay=1";
			var iframe = document.createElement('iframe');
			iframe.frameBorder=0;
			iframe.width="420";
			iframe.height="315";
			iframe.id="playYoutubeIframe";
			iframe.setAttribute("src", link);
			document.getElementById("player").appendChild(iframe);

		}
		$scope.remove = function (musica){
			if(!musica){
				$scope.mensagemError = "Preencha o formulário corretamente!";
			} else {
				console.log(musica);
				MusicaService.remove(musica, function(retorno){
					if(retorno.isValid){
						$scope.listaMusicas();
					} else {
						console.log(retorno)
					}
				});
			}
		}
		$scope.showLogin = function(){
			$scope.loginEnable=true;
		}
		$scope.cadastrar = function (cadastro){
			if(!cadastro){
				$scope.mensagemError = "Preencha o formulário corretamente!";
			} else {
				$scope.loadingCadastro=true;
				UsuarioService.cadastrar(cadastro, function(retorno){
					if(retorno.isValid){
						$scope.mensagemSuccess = "Parabéns, cadastro efeutado com sucesso :)";
						$scope.formEnable=false;
						$scope.loadingCadastro=false;
					} else {
						$scope.loadingCadastro=false;
						$scope.mensagemError = retorno.msg;	
					}
				});
			}
		}
		$scope.cadastrarMusica = function (musica){
			if(!musica){
				$scope.mensagemError = "Preencha o formulário corretamente!";
			} else {
				console.log(musica);
				MusicaService.cadastrar(musica, function(retorno){
					if(retorno.isValid){
						$scope.musica = {};
						$scope.listaMusicas();
					} else {
						console.log(retorno)
					}
				});
			}
		}
		$scope.logar = function (usuario){
			if(!usuario){
				$scope.mensagemError = "Preencha o formulário corretamente!";
			} else {
				$scope.loadingCadastro=true;
				UsuarioService.logar(usuario, function(retorno){
					if(retorno.isValid){
						$scope.userLogado = retorno.data;
						$scope.loginEnable=false;
						$scope.loadingCadastro=false;
						$scope.logado=true;
						$scope.listaMusicas();
					} else {
						$scope.loadingCadastro=false;
						$scope.mensagemError = retorno.msg;	
					}
				});
			}
		}
		$scope.to_trusted = function(html_code) {
		    return $sce.trustAsHtml(html_code);
		}
		$scope.listaMusicas = function (){
			MusicaService.lista(function(retorno){
				$scope.musicas = retorno.data;
			});
		}
	}]);


	</script>
</body>
</html>